<!DOCTYPE html>
<html>
  <head>
    <title>Change permissions here</title>
  </head>
  <body>
    <div id="container">
      <div class="nickname">
        <p>You can change permissions here!</p>
        <label style="visibility: hidden" value="<%= nickname %>" id="nickname"></label>
      </div>
      <div class="permissionsarea">
        <script src="/javascript/displayPermissions.js"></script>
      </div>
    </div>
  </body>
</html>
