<!DOCTYPE html>
<html>
  <head>
    <title>Main page</title>
  </head>
  <body>
    <div id="container">
      <p>Welcome to Postownia</p><br>
      <p>Posts of our users</p>
      <div class="posts">
      </div>
      <div class="newpost">
        <textarea rows="4" cols="50" name="comment" form="newpost" placeholder="How are you?"></textarea>
        <input type="hidden" name="nick" value="<%= nickname %>" form="newpost" id="nickname">
        <form action="/api/newpost" method="post" id="newpost">
        <input type="submit" value="Send">
        </form>
      </div>
    </div>
    <script src="/javascript/postgenerator.js"></script>
    <div class="editpost">
    </div>
  </body>
</html>
